@use "variables" as v;

.up-btn{
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .new-mes{
        background: darken($color: v.$red, $amount: 10%);
    }
}


.auct-list{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;


    .auction-details-container{
        display: flex;
        flex-direction: column;
        border: 1px solid v.$green1;
        border-radius: 10px;
        width: 45%;
        padding: 20px;

        @media (max-width: 991px){
            width: 100%;
            
        }

        .categories-wrapper,.wrapper-2{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
        }

        
    }
}
