@use "variables" as v;

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;

  h1{
    font-size: 32px;
  }

  .com-img{
      max-width: 600/1920*100vw;

      @media (max-width: 991px){
          max-width: 90%;
          
      }
  
  }
  


  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 270px;
    
    input{
      margin-bottom: 5px;
      border: 1px solid lightgrey;
      padding: 5px;
      font-size: 1rem;
      border-radius: 5px;
      outline: none !important;
      position: relative;

      &:focus{
        border: 1px solid v.$green2;
      }
    }

    label{
      margin-bottom: 3px;
    }
    

    .offscreen{
        display: none;
      }

      .instructions {
        font-size: 0.75rem;
        border-radius: 0.5rem;
        background: v.$grey;
        color: v.$green1;
        padding: 0.25rem;
        position: relative;
        transition: all 1s;
        animation: example 0.5s;
        
        
       // bottom: -10px;
    }

    @keyframes example {
      0%  {opacity: 0;}
      100%  {opacity: 1;}
    }
    
    .instructions > svg {
        margin-right: 0.25rem;
    }


    .hide {
        display: none;
    }
    
    .valid {
        
        margin-left: 0.25rem;
        path{
          color: v.$green2;
        }
    }
    
    .invalid {
        margin-left: 0.25rem;
        path{
          color: v.$red;
        }
    }

    .anim-btn{
      box-shadow: 3px 5px 15px 5px rgb(0 0 0 / 25%);
      margin: 10px 0;
      //background: darken($color: v.$red, $amount: 10%);


      &:disabled{
       // background: darken($color: v.$grey, $amount: 50%);
       cursor: not-allowed;

        &:hover{
          &::after{
            content: none;
          }
        }

      }
    }

    
  }

  .errmsg{
    color: v.$red;
  }

  .line{
    a{
      color: v.$green2;
      font-weight: 500;

      &:hover{
        color: v.$green1;
      }
    }
  }
}



.messageform{
  width: 600px;
  max-width: 90%;

  #message{
    width: 100%;
    height: 350/1080*100vh;
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    resize: none;
    font-size: 1rem;
    border-radius: 5px;
    outline: none !important;
    position: relative;

    &:focus{
      border: 1px solid v.$green2;
    }
  }
}

.success-par{
  text-align: center;
  font-size: 16/16*1rem;

  a{
    color: v.$red;
    font-size: 20/16*1rem;
    font-weight: 600;

    &:hover{
      color: v.$green2;
    }
  }
}


.new-auction{
  width: 600px;
  max-width: 90%;
  .categories-container{
    display: flex;
    align-items: flex-start;
    
    
    .categories-wrapper{
      display: flex;
      flex-direction: column;
    }

    .remove-btn{
      color: v.$red;
      margin-top: 7px;
      margin-left: 10px;
      font-size: 1rem;
      font-weight: 500;

    }

    .add-btn{
      color: v.$green2;
      font-size: 1rem;
      margin-bottom: 5px;
      font-weight: 500;
    }
  }


  #description{
    width: 100%;
    height: 150/1080*100vh;
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    resize: none;
    font-size: 1rem;
    border-radius: 5px;
    outline: none !important;
    position: relative;

    &:focus{
      border: 1px solid v.$green2;
    }
  }

  .show-cordinates{
    display: flex;
    justify-content: space-between;
    gap: 15px;

    @media (max-width: 470px){
      gap: 10px;
      flex-direction: column;
    }

    .wrapper-1{
      width: 100%;

      .long,.lat{
        margin-bottom: 5px;
        border: 1px solid lightgrey;
        padding: 5px;
        font-size: 1rem;
        border-radius: 5px;
      }
    }
  }
}