@use "variables" as v;

.items-list{
    display: flex;
    flex-direction: column;
}

.products-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paginationBtns{
    display: flex;
    justify-content: center;
    width: 70%;
    position: relative;
    margin-top: 50px;
    gap: 5px;

    li{
        list-style: none;

        a{
            cursor: pointer;
            color: v.$green2;
            background: white;
            border: 1px solid v.$green2;
            border-radius: 10px;
            padding: 8px 10px;

            &:hover{
                color: white;
                background: v.$green2;
            }
        }

        &.paginationActive{
            a{
                color: white;
                background: v.$green2;
            }
        }
    }


}